# Xcode
##
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# User settings
xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.resolved

# Config files
**/Config.swift
!**/Config.swift.example
*.plist

# OS X temporary files
.DS_Store
.Trashes
*.swp
*.lock

# Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Environment variables
.env
